

  .panel {

    min-height: 100vh;

  }

  .panel__content {

    padding-left: 100px;
    padding-top: 30vh;
    padding-bottom: 150px;

    em {

      font-weight: $font_weight_bold;
      font-style: normal;

    }

    p {

      font-size: 18px;
      line-height: 25px;
      text-decoration: none;
      margin-top: 1em;

    }

    h1 {

      font-size: 40px;
      font-weight: $font_weight_bold;
      line-height: 40px;

    }

  }


  /* Responsive Adapters */

  @media only screen and (max-width: 699px) {

    .panel__content {

      padding-left: 40px;
      padding-right: 40px;
      padding-top: 20vh;

    }

  }
