
  .panel--team {

    background-color: $colour_grey_lightest;

    .link {

      color: $colour_grey_dark;

    }

    .link--border {

      border-color: $colour_grey_dark;

    }

  }

  .teamcta {

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10vh;

    text-align: center;

    h1 {

      color: $colour_grey_dark;
      font-weight: $font_weight_bold;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.5px;

    }

  }


  @media only screen and (max-width: 450px) {

    .teamcta {

      padding-left: 50px;
      padding-right: 50px;

      h1 {

        font-size: 32px;
       line-height: 38px;

      }

    }

  }
