
  /* greys */
  $colour_grey_lightest: #ffffff;
  $colour_grey_lighter:  #eaeaea;
  $colour_grey_light:    #aeaeae;
  $colour_grey:          #9b9b9b;
  $colour_grey_dark:     #4a4a4a;
  $colour_grey_darker:   #2e2e2e;


  /* Brand Colours */
  $colour_blue:          #0098d8;
  $colour_orange:        #ee8012;
  $colour_red:           #f45844;
  $colour_teal:          #0fa9b5;


  /* Action Colours */
  $colour_action_blue:   #219ede;
