
  html {

    min-width: 320px;

  }

  body,
  html,
  h1,
  h2 {

    margin: 0;
    padding: 0;

  }

  a,
  article,
  body,
  div,
  img,
  em,
  footer,
  header,
  h1,
  h2,
  p,
  section {

    box-sizing: border-box;

  }

  a,
  img {

    border: none;

  }

  p {

    margin: 0;

  }
