

  /* Font Weights */
  $font_weight_light:  300;
  $font_weight_normal: 400;
  $font_weight_bold:   500;
  $font_weight_bolder: 600;


  body {

    color: $colour_grey_lightest;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-weight: $font_weight_light;

  }

  h1,
  h2 {

    font-weight: $font_weight_bolder;

  }

  a {

    color: $colour_grey_lightest;
    text-decoration: none;

  }
